body.dark{
  background:#000;
  color:#fff;
  font-family:Arial;
  margin:0;
}

.box{
  margin:80px auto;
  width:90%;
  max-width:400px;
  padding:20px;
  background:#111;
  border-radius:12px;
  text-align:center;
}

input,button,select{
  width:100%;
  padding:12px;
  margin:8px 0;
  border-radius:8px;
  border:none;
}

button{
  background:#ffd84d;
  font-weight:bold;
}

.top{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#111;
}

.card{
  margin:15px;
  padding:15px;
  background:#111;
  border-radius:12px;
}

.item{
  padding:10px;
  border-radius:10px;
  background:#222;
  margin-top:10px;
}

.out{
  color:#ff5555;
}